POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=kittygram_secret_key
TELEGRAM_TO=my_telegram_chat_id
TELEGRAM_TOKEN=my_telegram_bot_token