POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=kittygram_secret_key
TELEGRAM_TO=299950167
TELEGRAM_TOKEN=8969649097:AAFlIOHZqnA5OyiZ92vQyAL7ndmsfThk5DY